<%= form_for @article do |f| %>
	<div class="form-grouṕ">
		<%= f.label :title %>
		<%= f.text_field :title, class: 'form-control', required: true %>
	</div>

	<div class="form-grouṕ">
		<%= f.label :body %>
		<%= f.text_area :body, rows: 3, class: 'form-control', required: true %>
	</div>

	<%= f.submit t('forms.buttons.submit'), class: 'btn btn-primary btn-lg' %>
<% end %>
